[2017-06-25 19:59] qutang opened #1 "Nav menu active when on corresponding page"
Highlight or use indicator arrow on active nav menu tab

[2017-06-25 20:00] qutang opened #2 "Disable hover effect on touch screens"
Instead show all card content and make height dynamic.

[2017-06-25 20:01] qutang opened #3 "Fix display of footer on safari browsers"

[2017-06-25 20:02] qutang opened #4 "Make README doc for this theme"
Should include:

1. Intro
2. Installation instruction
3. Screenshot
4. Features

[2017-06-25 20:06] qutang opened #5 "Make nav menu configurative through blog setup"

[2017-06-25 20:18] #3 closed, assigned to qutang

[2017-06-25 20:20] qutang commented on #2
Three things to test:

1. If touchstart event is available
2. Media query
3. If touch start event got called

[2017-06-25 21:01] #2 closed, assigned to qutang

[2017-06-25 21:11] qutang opened #6 "Make tag cloud wider on single column layout"

[2017-06-25 22:10] qutang opened #7 "Make color configurable"

[2017-06-25 22:11] qutang opened #8 "All configuration should be done through website's config file"

[2017-06-25 22:12] qutang opened #9 "Use a slogan entry in config file instead of "intro" page for customization"

[2017-06-25 22:12] qutang commented on #5
Duplicate with #8

[2017-06-25 22:12] #5 closed, assigned to qutang

[2017-06-25 22:13] qutang commented on #5
Duplicate with #8

[2017-06-25 22:13] qutang commented on #7
Duplicate with #8

[2017-06-25 22:13] #7 closed, assigned to qutang

[2017-06-25 22:14] qutang opened #10 "Support monthly archive"

[2017-06-25 22:16] qutang opened #11 "Test code highlight"
Make sure it works without prism plugin

[2017-06-25 22:18] qutang commented on #8
Also make footer social link configurable

[2017-06-25 22:20] qutang opened #12 "Add comment (disqus) support"
Also explore idea to use weibo/wechat embeded comment

[2017-06-26 02:05] qutang opened #13 "Make a new default favicon"

[2017-06-26 02:25] #13 closed, assigned to qutang

[2017-06-26 03:48] #8 closed, assigned to qutang

[2017-06-26 03:52] #9 closed, assigned to qutang

[2017-06-26 03:55] qutang commented on #11
Will not include highlight in the theme for this release. Instead, ask user to use prism plugin.

[2017-06-26 03:55] #11 closed, assigned to qutang

[2017-06-26 04:06] #6 closed, assigned to qutang

[2017-06-26 05:03] #12 closed, assigned to qutang

[2017-06-26 15:49] #4 closed, assigned to qutang

[2017-08-01 15:58] KevinZwx opened #14 "Wiki too simple"
I'm very fond of the hexo theme cutie, but It' s too hard to build a practicable blog according to such few instructions in your wiki...so would you please supplement some content to guide naive users how to config the theme as detailed as possible, or at least post a more complete config sample , i.e. the _config.yml of your blog [https://qutang.github.io](https://qutang.github.io), thanks very m

[2017-08-03 14:03] qutang commented on #14
I'll update a minimal demo site repository for your reference recently. Thank you for your feedback.

[2017-08-03 14:31] #14 closed, assigned to nobody

[2017-09-28 23:07] ghost opened #15 "About hero prism js plugin"
我无法显示语法高亮，我在config.yml里设置了默认的highlight：enable：false并且也加上了prism_plugin那一段，请问为什么没有用呢？

[2017-09-29 12:39] qutang commented on #15
 你需要用npm安装一下prism plugin的插件。

https://github.com/wayou/hexo-prism

[2017-10-01 21:24] ghost commented on #15
谢谢！之前没安装在hexo文件夹下

[2017-10-01 21:24] #15 closed, assigned to nobody

[2017-11-27 17:45] qutang opened #16 "Unread notification dot won't work for external link post"
We add version information to cookie on the opened post to realize the unread notification feature. It currently does not work for external link post which directly opens a external website.

Solution
1. Add version information to cookie on clicking a post.
2. Keep the original solution in case the first approach fails for unknown reason as a backup.

[2017-11-28 19:00] #16 closed, assigned to qutang

[2017-12-04 00:02] ghost opened #17 "thumnnail for post"
Hi qutang,

I really like theme a lot. Tks for the hard work.

However I have a question, is it possible to use a thumbnail instead of the title on the index page ? Otherwise the responsive design is very cool 👍 .

What I think about really is using a thumbnail for every post but superpose the title on it ! Is it possible for such a feature to be implemented ?

Tks !

[2017-12-04 00:15] ghost commented on #17
Ah in face I think https://www.linpx.com/ is the effect that I wanted....

[2017-12-04 17:11] qutang commented on #17
Yes. Exactly. Currently I don't have plan to add this feature, but feel free to customize it or send a pull request. It's kinda like my personal preference of not using images in this case.

[2017-12-04 20:44] ghost commented on #17
haha tks for the reply. I think i'll just switch back to my wordpress it's
easier. Tks !

On Dec 4, 2017 6:11 PM, "Qu Tang" <notifications@github.com> wrote:

Yes. Exactly. Currently I don't have plan to add this feature, but feel
free to customize it or send a pull request. It's kinda like my personal
preference of not using images in this case.

—
You are receiving this because you authored the

[2017-12-06 01:08] #1 closed, assigned to qutang

[2017-12-15 04:41] Moober opened #18 "关于测试中遇到的一些问题"
非常感谢，你做的这款主题，我很喜欢，非常简介，尤其导航在手机上显示的效果；
**测试中，我遇到了一些问题，请教一下：**

1，在这个主题下会遇到，初次进去文章页的时候读取不出来视频（使用的是这个视频插件https://github.com/MoePlayer/hexo-tag-dplayer）

2，关于首页面的，触控-文字-文字带链接，如果没有文字，则无法进去建议修改（我的测试地址：http://moober.top/）

我是一个国内使用者，我是一个产品设计师，其实对于代码就是个白痴，比我白痴的人应该更多，如果您悦意，可以稍微考虑一下我们这批人，还有一些问题我会持续的发给您，如果您愿意做调整的话！如果您愿意，我可以给您一些视觉和体验上的建议；

由于本人不懂开发，只能给到您建议，和面向我这群人的一些需求；

再次感谢你开发的这个主题；

[2017-12-15 15:07] qutang commented on #18
你好，

谢谢反馈。
1. 这个应该是因为跟InstantClick这个库有冲突，目前没有太好的通用解决办法，除非player的开发者自己加代码解决一下。我会加一个全局选项来disable InstantClick. InstantClick主要是用js来加载链接的内容，不需要跳转，这样看起来就会像是一个single page web app。这个插件可能有时候在显示图片，视频或者运行第三方js代码的时候会出现兼容问题。
2. 已经看到了，我会加一个默认进入的文字如果post本身没有文字的话。我注意到你没有使用post icon，icon实际是是可以点击进去的。

最近没有时间重写guide，之前写得略杂，我年底应该有时间重写一下。

如果你能给些视觉跟交互上的建议，那真是极好的，可以新建一个issue讨论一下。

[2017-12-15 15:15] Moober commented on #18
感谢你的回复。

1.我继续进行测试使用，然后我会根据我的使用情况和一些需求，然后给你反馈更多的问题，下次反馈我争取用一个PDF 文档一类的东西给你反馈

2.关于体验方面，我这里希望能确认一下，你开发的这个主题仅仅打算面向于程序员，还是各方面的人你都想面对？

3.我个人也比较喜欢 首页的展示可以是图片+标题的形式，而不是纯粹的标题，犹如你参考那个博客的效果。当然这可能是我这部分人的一个需求，比如产品，设计，交互 这些人

[2017-12-15 15:22] qutang commented on #18
越多人使用当然越好，哈哈。不过我能力跟精力比较有限，所以会尽量满足大家需求，如果以后有更多开发者加入的话应该能做的更好。设计跟美工，我也需要专业人士的帮助，哈哈。

嗯，已经有人跟我提过图片的想法了，在考虑怎么加入图片显得不杂乱。

[2017-12-15 15:36] Moober commented on #18
ok，知道了你的想法，在你没遇到更好的设计和交互人员之前，我暂时充当你的这个角色，外加体验人员，为了测试你的这个主题，我可以额外买了一个域名呢；

1，建议有时间 对你的主题内的“_config.yml”进行关联和填充，而不是让使用人员自己搞，我这样的还好勉强的搞出来，毕竟很多人，不但看不懂英文，更多弄不懂设置的哦，这也是为什么 Hexo 中 Next主题用的人多的原因之一。

2，建议加入，“valine”评论  https://valine.js.org/#/  当然也可以是其他的，在国内不用搭梯子的评论

[2017-12-15 15:37] qutang opened #19 "Change comment system"
https://valine.js.org/#/

Thanks to @moober

[2017-12-15 15:44] qutang commented on #18
嗯嗯，我会去参考一下它的guide怎么写的。评论系统早就想改了，没找到合适的，你这个建议真的是极好的。

[2017-12-15 18:14] qutang commented on #19
Maybe Gitment is better as it uses git issues to store comments, which would be simpler to use for most people than valine which relies on leancloud.

https://imsun.net/posts/gitment-introduction/

[2017-12-16 20:34] qutang commented on #18
我看了一下你最开始写的第二个问题，我的版本下就算文章没有内容，也能正常显示。还有我注意到你生成的网站首页没有默认的category图标。让我怀疑可能你用的hexo版本以及附带的swig template engine版本跟我的不太一样。请问一下你的具体版本是多少。你可以运行`hexo -v`得到。

[2017-12-17 13:15] Moober commented on #18
![image](https://user-images.githubusercontent.com/26390644/34079782-63f97da2-e36f-11e7-8e12-de22de23a51a.png)

[2017-12-17 14:57] qutang commented on #18
可以在网站目录下运行一下`npm list swig`么？这个可以看一下swig的版本

[2017-12-17 15:03] Moober commented on #18
![image](https://user-images.githubusercontent.com/26390644/34080800-8a75f096-e37e-11e7-917b-947fa063e3b9.png)

[2017-12-17 16:34] qutang commented on #18
果然，你试着在当前目录装一下swig `npm install swig`. 然后再跑一遍`npm list swig`，如果没有ERR了应该就对了。然后再`hexo clean`和`hexo serve`应该就能正确显示了。

[2017-12-17 16:55] Moober commented on #18
好的 我测试一下

[2017-12-17 21:39] qutang opened #20 "Use data file for theme configuration"

[2017-12-17 21:40] qutang opened #21 "Add instantclick switch to theme configuration"
By default, turn off instant click, as it has a lot of compatible issues with thrid party hexo plugins.

[2017-12-17 22:07] #21 closed, assigned to qutang

[2017-12-17 22:08] qutang opened #22 "Use numbering for heading level 2 to 6"
http://philarcher.org/diary/2013/headingnumbers/

[2017-12-17 22:14] qutang commented on #19
Finally, I decided to include "disqus", "valine" and "gitment" system in the theme and add theme config to choose to use any of them.

[2017-12-17 22:15] qutang opened #23 "Discard depedency on hexo prism plugin for code highlighting"
Involve native highlighting in the theme directly.

[2017-12-17 22:34] qutang opened #24 "Refactor css structure"
There are some conflict with third party css styles.

[2017-12-18 05:19] qutang commented on #18
hexo-tag-dplayer这个插件很不幸好像有些未知bug，导致无法跟其他的hexo plugin兼容，比如prism。在after post render时会导致无法加载其他插件的js文件。
暂时不推荐用这个。

[2017-12-18 10:40] Moober commented on #18
尴尬了，今天搞了好久，安装了 按照你说得的做出现问题：

1. hexo d  会出现 找不到Git（注意：我另一个文件包是没有问题的，没有进行你说的那个进行操作）
2.hexo clean 会出现这个,我安装这个本地搜索也不行，尴尬了
![image](https://user-images.githubusercontent.com/26390644/34101622-3a58f13c-e421-11e7-8632-9c2bc9478e62.png)

[2017-12-18 13:38] qutang commented on #18
别急，你把你的package.json贴给我看看。一般这种情况删掉node_modules，然后重新跑一遍npm install就行了。如果不放心就把整个网站复制一下在新文件夹里实验。
________________________________
From: Moober <notifications@github.com>
Sent: Monday, December 18, 2017 5:40:23 AM
To: qutang/hexo-theme-cutie
Cc: Qu Tang; Assign
Subject: Re: [qutang/hexo-theme-cutie] 关于测试中遇到的一些问题 (#18)

尴尬了，今天搞了好久，安装了 按照你说得的做出现问题：

  1.  hexo d 会出现 找不到Git（注意：我另一个文件包是没有问题的，没有进行你说的那个进行操作）

[2017-12-18 13:44] Moober commented on #18
按照你说的，已经好了，果然还是要有经验！不过貌似还是没有解决问题
https://moober.top/

[2017-12-18 14:29] Moober commented on #18
在 hexo 里  hexo-tag-dplayer 这个播放器应该是目前最好的了，我另一个博客是  next  主题的，使用这个播放器是无压力的.我基本把目前插件里面的所有都用了一遍

[2017-12-18 15:35] qutang commented on #18
好像确实没有解决，看看`npm list swig`有没有报错。我听说新版本的hexo已经不用swig引擎改用nunjucks作为默认引擎了。可能是这个原因。我还没时间改这个。但是v2.0版本会改良这个兼容性。

[2017-12-18 15:38] qutang commented on #18
然后dplayer那个刚好我测试的两个插件好像都有点问题，一个是`hexo-prism-plugin`一个是`hexo-lazyload-image`。我用官方的landscape主题也测试过，主页都没问题，就是post上的代码高亮失效。我怀疑是因为next主题内嵌了语法高亮，所以这个问题没出现。Anyway, v2.0版本会尽量解决这个问题。

[2017-12-18 15:38] qutang opened #25 "Change template engine to nunjucks"
As hexo has moved away from swig

[2017-12-18 15:40] Moober commented on #18
嗯嗯 慢慢来，一点点的整改，我有时间，我就回去调整一下，去发现问题，你知道的，我是不懂代码的，所以，修改起来很多东西都很慢，需要一点点的发现，Next主题也不是一天完成，都是一点点搭建起来的；

[2017-12-18 16:28] qutang commented on #18
嗯嗯，谢谢理解。另外可以在当前目录跑一下`npm view . dependencies`么？这个可以检查网站的外部依赖，有助debug。

[2017-12-18 16:30] Moober commented on #18
![image](https://user-images.githubusercontent.com/26390644/34116489-bcf261be-e453-11e7-8754-bc096897ca05.png)

[2017-12-18 16:36] qutang commented on #18
依赖都是一样的，神奇了。为什么你的compile会有问题，可能我需要用mac测试一下了。我用官方的unit test site试过，效果是这样的。

![image](https://user-images.githubusercontent.com/844184/34116725-667ffcc2-e3e7-11e7-8a33-722025c0909c.png)

啊，知道了，有个办法。把目录里的package-lock.json删掉，然后把node_modules/删掉。然后重新跑一下npm install试试。

[2017-12-18 16:39] Moober commented on #18
![image](https://user-images.githubusercontent.com/26390644/34116945-09b739ba-e455-11e7-8c59-7467f56ff384.png)
![image](https://user-images.githubusercontent.com/26390644/34116958-1583655c-e455-11e7-8334-c8f23f0dd6f5.png)

[2017-12-18 16:46] qutang commented on #18
好像有点知道了，你的post icon是不是用的中文名称？用英文可能可以。这个是unicode编码的问题，我需要解决。还有它们是放在什么目录下的？需要放在`source/images/` 里。

![image](https://user-images.githubusercontent.com/844184/34117234-103516b6-e3e9-11e7-938e-1690ac672f09.png)

[2017-12-18 16:53] Moober commented on #18
好的稍等 我去修改一下一些内容

[2017-12-18 16:58] Moober commented on #18
嗯嗯 你说的是对的，问题是出在，我在了分类了
![image](https://user-images.githubusercontent.com/26390644/34117768-a5ea497e-e457-11e7-91ae-e8629fdf6cb8.png)
文章是我直接在 next 主题的blog 复制过来的，所以没做修改

[2017-12-18 17:04] Moober commented on #18
哈哈，关于这个图标的不显示，是我这里的问题；

1.不过通过这件事情，你可以发现，如果我是从别的主题迁移过来的，可能就会面临这样的问题，所以你需要进步的进行优化！

2.为了更好的本土化，你需要加入 “ language” 包什么的直接去next里面搞，就好了，剃掉，我们主题不需要的内容；
3.为了更好的让我这样的不懂代码的人用，建议在主题包中的“_congig.yml"中加入对主题的相关配置修改，以及中文版的文档；--- 我的英文太渣，不太能帮到你；

[2017-12-18 17:04] qutang commented on #18
这个主题刚开始没有考虑中文的问题。😂。我看了下访问量，80%都是中国的流量。所以下个版本一定会解决了。

[2017-12-18 17:05] Moober commented on #18
哈哈，我们国内牛逼的地方就是基数，人民的基数

[2017-12-18 17:06] Moober commented on #18
你们现在哪里是中午啊.......

[2017-12-18 17:06] Moober commented on #18
你在美国？ 美国现在是中午啊....

[2017-12-18 17:06] qutang commented on #18
对的。上午12点。我在美东。

[2017-12-18 17:07] Moober commented on #18
我要睡觉了，国内现在凌晨1点

[2017-12-18 17:07] qutang opened #26 "Support multiple language"

[2017-12-18 17:08] qutang commented on #18
嗯嗯，晚安。谢谢你的反馈。下个版本一定会更好。

[2017-12-18 17:09] Moober commented on #18
一定会更好的，必须更好，你继续改 我继续给提问题，争取时间 给你做一个视觉效果和规范给你

[2017-12-18 17:09] qutang commented on #18
哈哈，那就太赞了。

--
Sent from Postbox
<https://www.postbox-inc.com/?utm_source=email&utm_medium=siglink&utm_campaign=reach>

[2017-12-18 17:51] qutang commented on #20
Use similar way as in theme next. Make sure it is back compatible with configs in site and theme config files.

1. Check `_data/cutie.yml`
3. If not found, check `_config.yml` in site. Need restart server.

[2017-12-18 18:37] #20 closed, assigned to qutang

[2017-12-18 19:04] qutang commented on #25
Until Hexo 4 is released. Will still use swig.

[2017-12-18 19:04] #25 closed, assigned to qutang

[2017-12-18 20:29] #26 closed, assigned to qutang

[2017-12-18 22:11] qutang commented on #23
https://github.com/hexojs/hexo/pull/2901

Hexo team is working on it. Now we manually add some styling to highlight the code, but the native highlight.js styling css files won't work.

Has issue with bash language.

[2017-12-18 22:29] qutang opened #27 "Support unicode characters in filename"

[2017-12-18 23:34] qutang opened #28 "Support multiple categories and fix bug related to display category icon"

[2017-12-18 23:37] qutang opened #29 "Lightgallery for all images"

[2017-12-18 23:37] qutang opened #30 "Make sure all theme features can be enabled/disabled through configuration"

[2017-12-18 23:39] qutang opened #31 "Fix ecerpt extraction on empty string"
refer to issue #18

[2017-12-18 23:56] #31 closed, assigned to nobody

[2017-12-19 00:48] #28 closed, assigned to qutang

[2017-12-19 03:56] #18 closed, assigned to qutang

[2017-12-19 03:57] qutang commented on #18
两个bug在最新的更新中应该都解决了！

[2017-12-19 04:31] qutang opened #32 "Make sure alt attr is filled for all img tags"

[2017-12-19 05:51] qutang opened #33 "Make theme primary color customizable"

[2017-12-19 06:00] qutang opened #34 "Add support for TOC"

[2017-12-19 06:05] qutang opened #35 "Customize favicon"

[2017-12-20 06:14] qutang opened #36 "Add comment count and post visit to post meta"

[2017-12-20 15:34] qutang opened #37 "Add theme version to footer"
For example,

Theme Cutie v2.0-dev

[2017-12-20 15:49] #37 closed, assigned to qutang

[2017-12-20 16:19] qutang commented on #27
This has been working.

[2017-12-20 16:19] #27 closed, assigned to qutang

[2018-02-05 04:37] qutang commented on #36
Use leadcloud SDK for this.

https://leancloud.cn/docs/leanstorage_guide-js.html#hash7247859

[2018-02-09 23:05] #19 closed, assigned to qutang

[2018-02-10 00:28] #34 closed, assigned to nobody

[2018-02-10 00:28] #32 closed, assigned to nobody

[2018-02-10 00:28] #24 closed, assigned to qutang

[2018-02-10 00:28] #23 closed, assigned to qutang

[2018-02-10 00:29] qutang opened #38 "Add animations"

[2018-02-10 00:31] qutang opened #39 "Fix search page display on mobile layout"

[2018-02-10 00:34] qutang opened #40 "Add LICENSE file to repo"
1. Licensing
2. Acknowledgement
3. Release notes

[2018-02-10 17:38] #39 closed, assigned to qutang

[2018-02-10 17:44] qutang opened #41 "Support post copyright"

[2018-02-10 17:50] #40 closed, assigned to qutang

[2018-02-13 03:42] #41 closed, assigned to qutang

[2018-02-13 03:42] #30 closed, assigned to nobody

[2018-02-13 18:36] #35 closed, assigned to nobody

[2018-02-13 18:37] qutang opened #42 "Lightgallery zooming support"

[2018-02-13 19:39] #42 closed, assigned to qutang

[2018-02-13 19:40] #29 closed, assigned to nobody

[2018-02-13 21:52] #33 closed, assigned to nobody

[2018-02-13 21:54] #38 closed, assigned to qutang

[2018-02-14 00:19] qutang opened #43 "Refactor js code"

[2018-02-14 00:23] #36 closed, assigned to nobody

[2018-02-14 01:09] #10 closed, assigned to qutang

[2018-02-14 04:10] #43 closed, assigned to qutang

[2018-02-22 01:22] qutang opened #44 "Hexo cutie v3.x features. Please help voting."
v3.x will focus on new schemes and artificial intelligence (AI) powered features.

Please thumb up the following comments if you like any of the new features.

[2018-02-22 01:24] qutang commented on #44
Automatically generated tags using machine learning.

[2018-02-22 01:24] qutang commented on #44
Automatically generated "related post" using machine learning.

[2018-02-22 01:25] qutang commented on #44
Automatically generated post summary using machine learning.

[2018-02-22 01:26] qutang commented on #44
Estimation on READ time.

[2018-02-22 01:28] qutang commented on #44
Personalized "home" page (order of the posts) based on reader's interest (using machine learning)

[2018-02-22 01:28] qutang commented on #44
In-site searching engine.

[2018-02-22 01:28] qutang commented on #44
Scheme that supports image-based home page.

[2018-03-19 16:26] qutang opened #45 "Support remote config"
I'm seriously considering adding backend support through leancloud or firebase to config or change the site or post an anoucement without having to modify the files and push it.

[2018-03-19 17:13] qutang commented on #45
Will use data file for anouncement support

[2018-03-31 19:59] qutang opened #46 "In-site search"
Replacement google custom search.

If you know any good in-site search engine, please leave a comment and let me know. Thank you for the help!

[2018-03-31 20:02] qutang opened #47 "Issue when setting up valine comment system"
Please leave your screenshot and config settings for debugging. Thank you.

[2018-03-31 20:08] qutang opened #48 "Announcement configuration"
Support site announcement as top banner below header

1. Use cookie to remember if the announcement has been dismissed
2. Allow only one site announcement at a time
3. Allow turning on announcement for specific post, otherwise only display on home page.

[2018-03-31 20:09] #45 closed, assigned to qutang

[2018-03-31 20:09] qutang commented on #45
Won't do remote config. Backend is hard for novice to setup.

[2018-04-03 19:25] qutang opened #49 "Hide header/footer on scrolling"
http://wicky.nillia.ms/headroom.js/

[2018-04-03 21:25] #49 closed, assigned to qutang

[2018-04-04 06:06] #48 closed, assigned to qutang

[2018-04-05 04:05] #46 closed, assigned to qutang

[2018-04-05 15:57] tengfenglian commented on #47
@qutang
* 这个是因为在comment-html.swig中`site.data.cutie.gitment.client_secret`获取的值为空，才提示未配置valine相关参数，然后我使用`site.data.cutie.gitment.client_secret | default(theme.gitment.client_secret)`获取值就可以了，这是为什么？（就是没加default()都不能正常获取）
* 然后我试了gitment，评论框出现了，但是不能输入

[2018-04-05 16:05] qutang commented on #47
@LianTengFeng 你是在设置gitment还是valine的评论系统， 这两个是互相独立的，互不影响。需要先通过`cutie.yml`里的`global.comment_system`来选择。

不要改成default的形式，因为这个是你个人的client_secret，请参看gitment的官方指南来获取这个值，然后修改`cutie.yml`里的`gitment.client_secret`。

[2018-04-05 16:09] tengfenglian commented on #47
[我是使用valine，并加了default才有效](https://liantengfeng.github.io/2017/12/29/Git-tag%E5%91%BD%E4%BB%A4/)

[2018-04-05 16:11] qutang commented on #47
如果是加default也应该是在valine那个section下面加，跟gitment没有关系的。这两个是相互独立的系统，不能同时使用两个。

如果用valine, 就直接在`cutie.yml`里设置valine.appId跟valine.appKey就够了。

我大概知道你的意思了，可能是有个小bug。

[2018-04-05 16:19] tengfenglian commented on #47
恩，这个我知道，但是你在commet-html.swig文件中使用的判断
[code]

[2018-04-05 16:20] qutang commented on #47
对，我是故意这样写的，因为这个是用户必须设置的值（相当于密码），不应该提供默认值。

[2018-04-05 16:24] tengfenglian commented on #47
意思是我可能使用的是默认值了？但是我在cutie.yml中设置了值怎么没读取到。。。

[2018-04-05 16:27] tengfenglian commented on #47
我刚使用项目搜索appId，是我配置的那一个，不是默认值

[2018-04-05 16:27] qutang commented on #47
有可能是有值不对，四个参数全部输入就能正确显示了，但是是不能输入的，因为要先Login一次，你可以参考gitment的官方指南。

![image](https://user-images.githubusercontent.com/844184/38378723-91bebd58-38cc-11e8-9517-588eb408e20b.png)

[2018-04-05 16:28] qutang commented on #47
不是，你po的代码段跟valine没关系，只跟gitment有关系。如果是valine，你的已经设置好了，不需要要修改，下面这段才跟valine有关系。
[code]

[2018-04-05 16:37] tengfenglian commented on #47
⁄(⁄ ⁄•⁄ω⁄•⁄ ⁄)⁄你可能没明白我说的意思，gitment配置我稍后再看看，我说的是valine，针对这个issue的，其他人说的这个valine配置不能成功是因为没加`default()`的
[code]
就是使用`site.data.cutie.valine.appId`获取不到值，使用`site.data.cutie.valine.appId | default(theme.valine.appId)`才可以

[2018-04-05 16:40] qutang commented on #47
可能需要他们po一下配置文件看看。这个地方是故意不加default的，用户必须设置这三个值，因为这个是用来授权用户自己设置的后端的，不能有默认的密码或者用户名这种说法。

[2018-04-05 16:48] tengfenglian commented on #47
那`default(theme.valine.appId)`中的`theme.valine.appId`是指向用户设置值？
我是这样设置的才有效的😂

[2018-04-05 16:56] qutang commented on #47
没有这个值的，你看看theme的configure.yml文件就知道了，default默认返回空字符

2018年4月5日 -0400 PM12:48 LianTengFeng <notifications@github.com>，写道：

[2018-04-06 18:19] qutang opened #50 "Optimize unread notification algorithm"
1. No need to manually update version number for a post
2. Use a single switch in front matter to turn unread notification on or off
3. Use text hashing to check if post has been changed.

[2018-04-06 18:24] qutang opened #51 "Optimize announcement notification"
1. Only show up when user first sees it unless announcement content changes
2. Use text hashing to see if announcement content has changed
3. Add a switch to enable or disable announcement manually

[2018-04-06 22:03] #50 closed, assigned to qutang

[2018-04-06 22:03] #51 closed, assigned to qutang

[2018-04-06 22:36] qutang opened #52 "Optimize post comment and visit counting (reduce backend requests)"

[2018-04-06 22:37] qutang opened #53 "Make sure home page meta icons can link to corresponding sections in the post"

[2018-04-13 01:50] #52 closed, assigned to qutang

[2018-04-18 20:23] Fastbyte01 opened #55 "Disqus comments dosn't work"
Hi @qutang , I'm testing your theme and is good.
I have tried to use disqus for comments but the configuration dosn't seems that work.

I don't have great experience with javascript ( I start from little to study it) and don't know how to see where is the problem.

I tried the info on your site to configure but dosn't seems work.

[2018-04-18 20:33] Fastbyte01 opened #56 "Change date for italian"
Hi @qutang,
It's possible to change of the date is viewed for the italian language?

In english, the site give this format for exemple: Apr 17, 2018.
In italian need to be for example: 17 Apr, 2018.

I have changed it in the _config file on the root directory with this format: Do MMM YY (because hexo use moment.js to process date.

It's possible to integrate it directly on the theme?

[2018-04-18 20:39] Fastbyte01 commented on #56
Update:
the correct format is D MMM YY

[2018-04-18 22:21] Fastbyte01 commented on #55
Seems that allow_comment: false dosn't work.

[2018-04-19 14:51] qutang commented on #55
Did you set the short name?

Also, where did you set the `allow_comment` variable? front matter or the data file?

[2018-04-19 16:06] Fastbyte01 commented on #55
Hi @qutang If I set the variable allow_comment on _/data/cutie.yml, the variable dosn't work.
 If I set the variable allow_comment on the root config.yml, it works.

[2018-04-19 16:07] Fastbyte01 commented on #55
For the shortname, I have set it as in the documentation but dosn't seems to work.

[2018-04-19 16:32] Fastbyte01 opened #59 "All the icons in the same folder"
Can be a good idea to integrate all the icons on the same folder to have a more consistent experience.

Let me be more clear, as know the theme use some icons that are in the folder icons, and, for example, for notes and projects use the icons that are in the image folder.

The problem is that some style of the icons aren't very coherent with the icons used for notes and project, and all seems a l

[2018-04-19 20:46] qutang commented on #59
This is a legacy problem when  the theme upgrades from v1.  I'll reactor the structure a little bit.

[2018-04-19 20:47] qutang commented on #55
I see. I'll try to test it. Thank you for the feedback.

[2018-04-20 01:48] qutang commented on #55
I tested the `shortname` variable and it is working.

You need to set both: `global.comment_system` to `disqus` and `disqus.shortname` to your site's shortname. `shortname` should be configured in `_data/cutie.yml` file, not in `_config.yml` file.

[2018-04-20 01:50] qutang commented on #56
It is recommended to set date through `_config.yml` if you are using a different language to keep the flexibility. So I may not make this change.

[2018-04-20 01:50] #56 closed, assigned to nobody

[2018-04-20 02:08] zczzz opened #60 "Valine comments dosn't work"
![8d68ed11-3838-4cb7-b1ae-e313292b25d4](https://user-images.githubusercontent.com/13907161/39026919-18ca0e36-4482-11e8-8c22-71a7ea58f8e2.png)
![32bad011-0d87-45b6-af6d-261cc5ee0a22](https://user-images.githubusercontent.com/13907161/39027011-853935a6-4482-11e8-8e41-4564d84cb684.png)
已经在配置文件中配置了appId和appkey，但是valine评论系统还是不能使用

[2018-04-20 02:10] qutang commented on #60
不要在`_config.yml`里配置，在`source/_data/cutie.yml`里配置，你可以自己创建一个这个配置文件。基本所有配置都在这个文件里，原则上你不需要改`_config.yml`。

[2018-04-20 02:20] zczzz commented on #60
@qutang 好的，谢谢

[2018-04-20 02:25] #60 closed, assigned to nobody

[2018-04-20 02:26] qutang commented on #47
Reopen if issue persists.

[2018-04-20 02:26] #47 closed, assigned to qutang

[2018-04-20 13:13] Fastbyte01 commented on #55
I made it but it continue to give me the error: For site maintainer: Please provide shortname in your _data/cutie.yml file for disqus comment system.

[2018-04-20 14:03] qutang commented on #55
Can you post a snippet of the configuration file? I can't think of a cause of that. Also can you retry in v2.0.10?

And also check if the shortname is correct (normally it should be your domain name connected with dash)

[2018-04-20 14:45] Fastbyte01 commented on #55
This is the code on _data/cutie.yml inside my source folder.
[code]
This is the code on the root _config
[code]

[2018-04-20 14:46] Fastbyte01 commented on #55
Probably I have made a mistake but can't see it.

[2018-04-20 14:47] qutang commented on #55
Yeah. `disqus.shortname` should not be under `global`, it should be the root itself.

[2018-04-20 14:49] Fastbyte01 commented on #55
Sorry, a my stupid error. Thanks for the support.

[2018-04-20 14:49] #55 closed, assigned to nobody

[2018-04-21 11:12] Fastbyte01 opened #61 "Mobile menu view"
The mobile menu with much categories dosn't show the complete list o the categories available.
I believe that are two things that can be done:

* Or show only the page(or link) and not the categories
* Or the category list on the mobile version need a vertical scroll bar

[2018-04-23 04:16] qutang opened #62 "Add support for desktop (browser) notification"

[2018-04-23 21:50] Fastbyte01 opened #63 "Page excerpt"
It's possible to implement the ability to use the post excerpt that I insert on the Front Matter instead to use the the auto generated one?

[2018-04-24 03:08] #63 closed, assigned to nobody

[2018-04-24 13:15] Fastbyte01 commented on #63
Sorry, but seems that nothing change. What tutorial are you referring?

[2018-04-24 14:06] qutang opened #64 "support livere comment system"
https://livere.com/

[2018-04-24 14:14] qutang commented on #63
I have not released the change and update the website.

[2018-04-24 19:41] #64 closed, assigned to nobody

[2018-05-14 21:06] qutang opened #65 "Optimize the usage of post, category icon"

[2018-05-14 21:07] qutang commented on #59
See #65

[2018-05-14 21:07] #59 closed, assigned to nobody

[2018-05-14 21:08] qutang commented on #53
Add animation to meta icons

[2018-05-14 21:24] qutang commented on #53
Use colors for different meta icons

[2018-05-14 21:24] qutang commented on #53
http://mojs.io/?ref=notyjs mo.js

[2018-05-14 21:26] qutang commented on #53
https://dribbble.com/daryl

[2018-05-17 19:46] #53 closed, assigned to qutang

[2018-05-31 09:32] imjdl opened #66 "文章归档出现一个小问题。"
### 唐曲先生您好，您的这款主题很棒，但是我在使用时在文章归档的月份出错了
![](http://ovjdtotu0.bkt.clouddn.com/%E9%80%89%E5%8C%BA_051.png)
![](http://ovjdtotu0.bkt.clouddn.com/%E9%80%89%E5%8C%BA_052.png)

月份都减了一，一月份的文章不显示
---
问题可能出在 `layout/archive.swig`
我在对月份处理的部分加了1
![](http://ovjdtotu0.bkt.clouddn.com/%E9%80%89%E5%8C%BA_053.png)
就好了

[2018-05-31 13:48] qutang commented on #66
Good catch.

你如果愿意的话可以给我发一个pull request. 我照单修改。我自己改可能更新要等段时间。最近比较忙。

Qu

________________________________
From: Elloit King <notifications@github.com>
Sent: Thursday, May 31, 2018 5:32:26 AM
To: qutang/hexo-theme-cutie
Cc: Subscribed
Subject: [qutang/hexo-theme-cutie] 文章归档出现一个小问题。 (#66)

唐曲先生您好，您的这款主题很棒，但是我在使用时在文章归档的月份出错了

[https://camo.githubusercontent.com/0a92f189265a053b26cc93c3bab379721c4ef08

[2018-06-01 01:51] fyqr opened #67 "_config.yml中修改date_format: ll"
![image](https://user-images.githubusercontent.com/8895117/40816698-f18bec34-6580-11e8-9ccc-750eb1004043.png)
唐sir，这个错误的原因是什么？

[2018-06-01 07:59] WhenCoding opened #69 "Site announcement is useless"
I can't use it in source/_data/cutie.yml.Please help me resolve it,than you!

[2018-06-01 15:41] WhenCoding opened #70 "comment has bug"
The comment function is abnormal and the comment plug-in is not displayed properly

[2018-06-01 18:17] #66 closed, assigned to nobody

[2018-06-01 19:16] qutang commented on #67
可以把你的_config.yml贴一部分出来吗？想看看你原始是怎么设置的。

[2018-06-01 19:17] qutang commented on #69
Can you post a section of your cutie.yml file for me to debug?

[2018-06-01 19:17] qutang commented on #70
I need to see your cutie.yml file and a detailed description of the problem in order to debug.

[2018-06-03 02:02] qutang opened #71 "Create console command to update and config theme cutie"
`hexo cutie update`: update theme cutie to latest version.

`hexo cutie config`: use a web interface to config theme and save configurations to the right configuration files.

[2018-06-03 03:42] WhenCoding commented on #71
can it use?

[2018-06-03 04:04] WhenCoding commented on #70
thank you,i find why it is not displayed.

[2018-06-03 04:04] #70 closed, assigned to nobody

[2018-06-03 05:13] WhenCoding commented on #69
![bug](https://user-images.githubusercontent.com/28731024/40883448-c0a0c262-66ec-11e8-82db-0988cab08012.png)
this is my cuite.yml,home does not show announcement.

[2018-06-03 11:14] WhenCoding commented on #69
I found that we should place 'annoucement ' behind 'global' ,then it can work well.Like it.
global:
  announcement:
       text: This is a sample site announcement.
so,is it correct?

[2018-06-03 11:54] WhenCoding opened #72 "how to change it,thank you..."
![question](https://user-images.githubusercontent.com/28731024/40886305-d9dcb396-6767-11e8-8ce4-93283a0136b0.png)

[2018-06-03 15:02] qutang commented on #69
Yes. Good you figured it out. I'll update the tutorial, my mistake.

[2018-06-03 15:02] #69 closed, assigned to nobody

[2018-06-03 15:02] qutang commented on #72
in `source/_data/cutie.yml`, add this.
[code]

[2018-06-03 23:11] qutang commented on #71
Not available at current version.

[2018-06-04 01:26] fyqr commented on #67
![image](https://user-images.githubusercontent.com/8895117/40893940-51a08a86-67d8-11e8-906c-297f35da18af.png)

- 这是我的config

- 另外能否麻烦看一下https://fyqr.github.io/，为什么我的首页和搜索会不一样呢？

[2018-06-04 01:49] #72 closed, assigned to nobody

[2018-06-04 02:03] WhenCoding opened #73 "How to design a reward page"
Can you be a demonstration or how to configure.Thank you for your patience.

[2018-06-04 03:21] qutang commented on #67
你有个重复的date_format，你搜索一下就看到了。

2018年6月3日 -0400 PM9:26 vincen.liu <notifications@github.com>，写道：

[2018-06-04 03:25] qutang commented on #73
Not sure what you mean by payment page.
2018年6月3日 -0400 PM10:03 D.luffy <notifications@github.com>，写道：

[2018-06-04 03:38] WhenCoding commented on #73
like screenshots function,How to implement this function？
![helpme](https://user-images.githubusercontent.com/28731024/40897135-bed06ece-67eb-11e8-858e-9764469d03e8.png)

[2018-06-04 03:40] WhenCoding opened #74 "How to customize the icon"
![how to customize the icon](https://user-images.githubusercontent.com/28731024/40897172-0ca35396-67ec-11e8-8115-3f0850c13d77.png)

[2018-06-04 06:03] WhenCoding opened #75 "Under which folder the page is placed"
![page](https://user-images.githubusercontent.com/28731024/40900818-06447a7a-6800-11e8-9e54-078bdd1d870c.png)

[2018-06-04 06:36] #75 closed, assigned to nobody

[2018-06-04 06:44] WhenCoding opened #76 "How to generate Notes and Projects page"
They look beautiful,but I don't know how to finish it ,I think  you will tell me why,thank you,Tang.
![page](https://user-images.githubusercontent.com/28731024/40902213-d1557200-6805-11e8-82c9-c171c69ba5f2.png)

[2018-06-04 09:26] WhenCoding commented on #74
i see..[click](https://qutang.github.io/2017/06/27/Hexo-theme-cutie/)
`icon: /images/fun.svg`

[2018-06-04 09:26] #74 closed, assigned to nobody

[2018-06-04 09:39] WhenCoding opened #77 "How to complete this search page"
![search](https://user-images.githubusercontent.com/28731024/40910267-3f9381ae-681e-11e8-9808-def837469085.png)
i think it is beautiful!

[2018-06-04 09:54] WhenCoding opened #78 "Can I refer to your resume of MD's documentation?"
![resume](https://user-images.githubusercontent.com/28731024/40910852-ccdc8898-681f-11e8-9ffc-715f85a33d2e.png)

[2018-06-04 13:14] qutang commented on #77
Did you read the tutorial? I think I mentioned there about how to use it.

[2018-06-04 13:15] qutang commented on #76
These are categories. Read hexo's official doc to see how to use categories.

[2018-06-04 13:17] qutang commented on #78
Add `meta_info: some html codes` to the front matter of a page to show that.

[2018-06-05 01:18] fyqr commented on #67
- 确实有两个，非常感谢
- 还有问题想要请教：
    - 在[Usergudie](https://qutang.github.io/2018/02/12/hexo-theme-cutie-v2-tutorial/)里面讲到：
source/_data/cutie.yml
![image](https://user-images.githubusercontent.com/8895117/40949439-af8393c8-68a0-11e8-8e13-3cc67be11145.png)  在theme文件夹里找不到，是要自己新建一个文件夹放进去吗？
    - 为什么我的主页和搜索页无法设为一致？真心请教，望解答，谢谢。
    - [我的主页](http://fyqr.github.io)

[2018-06-05 13:47] WhenCoding commented on #78
sorry,I'm so stupid that i trouble you.I try it in my MD file,but it isn't useful,so I very hope see your MD file so that I can finish the page like you.Thank you very much.

![meta_info](https://user-images.githubusercontent.com/28731024/40983263-ccf81b92-6911-11e8-98c3-d04ec1e9f279.png)

[2018-06-05 14:15] WhenCoding commented on #77
Sorry,I think you don't understand my means,I just want to know that the 'light' and 'note' icon how to set .I
 don't find it  in your two tutorial(1.X and 2.X).Thank you very much.

[2018-06-05 15:22] qutang commented on #67
source/_data/cutie.yml 这个是相对于你的网站根目录的，你的post一般存在source/_posts/里。你需要自己创建一个_data文件夹和cutie.yml这个文件。

然后你就可以更改logo了。

Qu

From: vincen.liu
Sent: Monday, June 4, 2018 9:18 PM
To: qutang/hexo-theme-cutie
Cc: Qu Tang; Comment
Subject: Re: [qutang/hexo-theme-cutie] _config.yml中修改date_format: ll (#67)

• 确实有两个，非常感谢
• 还有问题想要请教：
o 在Usergudie里面讲到：
source/_data/cutie.yml
在theme文件夹里找不到，是要自己新建一个文件夹放进去吗？
o 为什么我的主

[2018-06-05 15:23] qutang commented on #78
不是在post里，是page。post不支持meta_info。
page怎么创建请参考hexo的官方文档。

[2018-06-05 15:24] qutang commented on #77
只要你在Post里设置了Projects或者notes这两个category，这些icon就会出现。没有设置过不会出现。

[2018-06-05 15:25] qutang commented on #73
现在还不支持这个功能，后续可能会加入。

[2018-06-14 03:48] WhenCoding commented on #78
嗯嗯。明白了哈，之前一直不明白post和page的区别，这次知道了哈。多谢。

[2018-06-14 04:05] WhenCoding commented on #78
我还有一个疑问，就是那个pdf变化的小图标，怎么配置呢?

[2018-06-14 06:40] WhenCoding commented on #77
oh oh,i see ,it looks very exciting,thank you!

[2018-06-14 06:40] #77 closed, assigned to nobody

[2018-06-14 06:41] WhenCoding commented on #76
Thank you.

[2018-06-14 06:41] #76 closed, assigned to nobody

[2018-06-14 06:45] WhenCoding commented on #73
I am looking forward to the emergence of this feature！

[2018-06-14 07:20] WhenCoding opened #79 "这个页面的排版能否请教一下？"
![paiban](https://user-images.githubusercontent.com/28731024/41397313-5eeba0a2-6fe6-11e8-93c5-d8cc55ef683f.png)
标题居中是如何设置？还有下面的github链接我觉得挺好玩的，请赐教。

[2018-06-14 08:01] WhenCoding opened #80 "我发现toc_level这个功能是不好使的"
![toc_level](https://user-images.githubusercontent.com/28731024/41399171-2e9ec9e6-6fec-11e8-930b-c574dd2187dc.png)
是因为我使用的场景不对吗？

[2018-06-16 07:49] ivitan opened #81 "How to solve it？"
[code]

[2018-06-16 21:05] qutang commented on #81
The chroma scheme is still under dev. Are you trying out? I need to see your config file to debug.

Qu
2018年6月16日 -0400 AM3:49 Vitan <notifications@github.com>，写道：

[2018-06-17 00:20] ivitan commented on #81
# Blog/_config.yml
[code]
# _data/cutie.yml
[code]

[2018-06-19 07:20] MandyJin opened #82 "For site maintainer: Please provide appId and appKey in your _data/cutie.yml file for valine comment system."
我在source文件夹下建了_data/cutie.yml，也配置了appId和appKey,还是报标题错误，placeholder是填什么？
[code]

[2018-06-19 11:05] imjdl commented on #82
placeholder 就是占位符，就像HTML里input标签那个占位符一样的作用。
另外，我觉得valine没有gitment好。

[2018-06-20 04:52] qutang commented on #80
不太懂你在怎么用它

[2018-06-20 04:55] qutang commented on #82
注意valine的设置不能放到`global`下。

试一下这样，注意格式：
[code]

[2018-06-20 04:57] qutang commented on #81
你是用的release的最新版吗？实施不要设置`scheme`下的`color`选项。

[2018-06-20 05:02] qutang commented on #79
这个是定制页面，主题都是左对齐的。下面的github链接参考https://github.com/badges/shields

[2018-06-20 05:03] qutang commented on #78
fontawesome 5，你可以自己看一下它的文档。

[2018-06-20 12:26] ivitan commented on #81
用的是release的最新版，试过不设置`color`选项也是同样的提示。

[2018-06-20 12:41] ivitan commented on #81
还有请问搜索不可用是什么原因呢？

[2018-06-22 09:17] FernandoZhuang commented on #82
问题：valine, livere评论不能显示
![4](https://user-images.githubusercontent.com/22760805/41768910-2ec1f682-7640-11e8-8b6d-19f48a1c1234.PNG)
![5](https://user-images.githubusercontent.com/22760805/41768911-2efb9608-7640-11e8-8a98-341447edce8e.PNG)

配置
![default](https://user-images.githubusercontent.com/22760805/41768654-641d4d28-763f-11e8-874c-14157547d931.PNG)
Id等因为保密，所以删去没填。本人是在Hexo下的source目录内新建_data文件夹，

[2018-06-22 11:51] FernandoZhuang opened #83 "分类：出现相同分类，404页面"
在已写的博客中，都有BabyLearn分类。然后呢Hexo g，Hexo s,观察到
![6](https://user-images.githubusercontent.com/22760805/41774781-b9488722-7653-11e8-8412-60f8925f5004.PNG)
点进任何一个BabyLearn分类，都将出现404。

进一步发现，当更改博客文章的categories，例如把BabyLearn改成Baby，再Hexo g, Hexo s，原来的BabyLearn仍旧存在，除非Hexo clean。

[2018-06-22 14:00] qutang commented on #83
这个是hexo本身的问题，debug的模式下这些都是存在数据库里的，更改了数据库没有更新，所以需要先clean一下。
2018年6月22日 -0400 AM7:51 FernandoZhuang <notifications@github.com>，写道：

[2018-06-22 14:01] qutang commented on #82
Cutie.yml要放到source文件夹下的_data文件夹里，没有就自己新建一个。
2018年6月22日 -0400 AM5:20 FernandoZhuang <notifications@github.com>，写道：

[2018-06-22 17:11] qutang commented on #82
commen_system 那里 valine#，#前面要有个空格可能。如果要用livere，comment_system要改成livere.

[2018-06-22 17:15] qutang commented on #82
你改过theme的_config.yml 文件吗？那个文件最好一点都不要改。

[2018-06-23 01:58] FernandoZhuang commented on #82
Livere已能成功运行（把# disqus, valine, gitment等全部删除），Valine暂时还不能。
另外，使用Livere，文章的浏览量，访客数等图标为空，有些不美观:expressionless:，建议能在cutie.yml提供接口关闭访客等功能
themes/cutie文件夹下，不包含_config.yml也能成功运行，虽然还是会报错loadjs.js加载失败。
谢谢大大~

[2018-06-23 02:00] FernandoZhuang commented on #83
撰写文章时，Categories最好只有一个分类，就不会产生重复categories（原谅我从Hexo-Next转过来，不太适应）

[2018-06-23 02:00] #83 closed, assigned to nobody

[2018-06-24 15:04] qutang commented on #82
可以关闭的，具体看tutorial
最好包括，第三方库的路径需要从这个文件调用。

[2018-06-27 12:49] WhenCoding commented on #80
It's my mistake,thank you your support!

[2018-06-27 12:49] #80 closed, assigned to nobody

[2018-06-27 13:26] WhenCoding commented on #78
你好，我根据网上资料尝试了，https://sspai.com/post/45217 并不生效呢，该怎么解决？谢谢解答。

[2018-06-28 19:30] qutang commented on #78
fontawesome 5的包我已经包括进去了，你具体是怎么试的

[2018-06-29 02:35] WhenCoding commented on #79
好的，谢谢。

[2018-06-29 02:35] #79 closed, assigned to nobody

[2018-06-29 02:44] WhenCoding commented on #78
我的设置应该是不对的，您可以举个例子在md文档中怎么引用 fontawesome？

[2018-06-29 15:33] qutang commented on #78
写post的时候只能用html 代码引用，比如<i class=’fas fas-some-icon-name’></i>

From: D.luffy
Sent: Thursday, June 28, 2018 10:44 PM
To: qutang/hexo-theme-cutie
Cc: Qu Tang; Comment
Subject: Re: [qutang/hexo-theme-cutie] Can I refer to your resume of MD'sdocumentation? (#78)

我的设置应该是不对的，您可以举个例子在md文档中怎么引用 fontawesome？
—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub, o

[2018-06-29 15:35] qutang commented on #81
唔，搜索不能用的具体情况你可以说一下吗？不知道你具体指的什么。

[2018-06-30 02:23] ivitan commented on #81
具体表现为：无论PC，手机端使用搜索时，输入搜索关键字后无搜索反馈。

![Screenshot_20180630-101905.jpg](https://i.loli.net/2018/06/30/5b36e8dfa182f.jpg)

[2018-06-30 15:09] qutang commented on #81
嗯，是个bug。可以请你单开个issue吗？你可以用chrome的debugger看看有没有报错。

Qu

________________________________
From: Vitan <notifications@github.com>
Sent: Friday, June 29, 2018 10:23:01 PM
To: qutang/hexo-theme-cutie
Cc: Qu Tang; Comment
Subject: Re: [qutang/hexo-theme-cutie] How to solve it？ (#81)

具体表现为：无论PC，手机端使用搜索时，输入搜索关键字后无搜索反馈。

[Screenshot_20180630-101905.jpg]<https://camo.githubusercontent.com/bafad0d80008bd667

[2018-07-01 05:10] ivitan opened #84 "搜索不可用"
具体表现为：无论PC，手机端使用搜索时，输入搜索关键字后无搜索反馈。

[2018-07-01 06:10] ivitan commented on #81
Chrome的debuger我不会用😂

[2018-07-01 12:34] WhenCoding commented on #78
嗯嗯，照着您的方法引用，得到的结果就是“?”和“!”，这个结果是因为识别不出来fontawesome字体吗，希望您能给一个正常引用 fontawesome字体的方法，多谢！

[2018-07-02 04:10] qutang commented on #78
https://fontawesome.com/icons/amazon?style=brands

From: D.luffy<mailto:notifications@github.com>
Sent: Sunday, July 1, 2018 8:34 AM
To: qutang/hexo-theme-cutie<mailto:hexo-theme-cutie@noreply.github.com>
Cc: Qu Tang<mailto:tqshelly@gmail.com>; Comment<mailto:comment@noreply.github.com>
Subject: Re: [qutang/hexo-theme-cutie] Can I refer to your resume of MD's documentation? (#78)

嗯嗯，照着您的方法引用，得到的结

[2018-07-02 05:25] #84 closed, assigned to nobody

[2018-07-02 09:08] WhenCoding commented on #78
Thank you very much!

[2018-07-02 09:08] #78 closed, assigned to nobody

[2018-07-02 10:22] ivitan opened #85 "2.014版本点击搜索结果跳转问题"
2.014版本的搜索有结果反馈了，但是点击搜索结果跳转到文章链接时日期格式错误(年月日之间无斜杠)，导致404错误。
![Screenshot_20180702-181759__01.jpg](https://i.loli.net/2018/07/02/5b39fc5a91206.jpg)

[2018-07-02 16:13] #85 closed, assigned to nobody

[2018-07-19 19:13] #67 closed, assigned to nobody

[2018-07-19 19:14] qutang commented on #71
Have to create a separate plugin for this. Close for now.

[2018-07-19 19:14] #71 closed, assigned to nobody

[2018-07-22 22:45] #61 closed, assigned to qutang

[2018-07-22 22:45] #81 closed, assigned to qutang

[2018-07-22 23:05] qutang opened #86 "Optimize tablet view"

[2018-07-22 23:06] qutang commented on #82
Reopen if issue persists.

[2018-07-22 23:06] #82 closed, assigned to nobody

[2018-07-27 08:45] ivitan opened #87 "使用 disqus 文章的访问数始终为0"
使用 Valine 正常。

[2018-07-27 14:23] qutang commented on #87
我tutorial里有写，这个功能只是在设置为valine时有效。

![image](https://user-images.githubusercontent.com/844184/43326506-0c092590-9187-11e8-9db6-7799eeb16530.png)

[2018-07-27 16:02] ivitan commented on #87
谢谢

[2018-07-27 16:02] #87 closed, assigned to nobody

[2018-08-07 15:54] qutang opened #88 "Support pinned cards"
**Is your feature request related to a problem? Please describe.**
Support pinned cards

**Describe the solution you'd like**
Create a separate section in home page to show pinned cards, maybe using a slider or a larger card with more information.

In post matter:

[code]

[2018-08-07 15:56] qutang opened #89 "Support thumb up"
**Is your feature request related to a problem? Please describe.**
Support thumb up (not just comment) for a post.

**Describe the solution you'd like**
1. Add a thumb up button to the meta section of a card or a post.
2. Use a new table in leancloud to store thumb up information.
3. Count of thumb ups and show in the meta section

[2018-08-07 16:01] qutang opened #90 "Support READ time"
**Is your feature request related to a problem? Please describe.**
Give estimation of READ time

**Describe the solution you'd like**
1. Detect text language using library: https://github.com/wooorm/franc
2. Estimate reading time based on medium's rule: https://help.medium.com/hc/en-us/articles/214991667-Read-time
3. Show estimated read time on home page cards and post meta section

[2018-08-08 21:38] #89 closed, assigned to qutang

[2018-08-20 19:07] qutang opened #91 "Use new IP detection API"
**Describe the bug**
The existing IP detection API is no longer available.

**Expected behavior**
Post stats (visits and comments) are currently not functional.

[2018-08-21 16:02] qutang commented on #91
It seems the API is back to work.

[2018-08-21 16:02] #91 closed, assigned to qutang

[2018-09-10 06:35] ivitan opened #92 "页数显示建议"
这里的页数多了之后可否中间页数省略，左右分别为上一页、下一页。

[2018-09-10 15:15] qutang commented on #92
嗯，会在下一个版本里更新，最近比较忙，没有太多空余时间。

From: Vitan
Sent: Monday, September 10, 2018 2:36 AM
To: qutang/hexo-theme-cutie
Cc: Subscribed
Subject: [qutang/hexo-theme-cutie] 页数显示建议 (#92)

这里的页数多了之后可否中间页数省略，左右分别为上一页、下一页。
—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub, or mute the thread.

[2018-09-10 22:29] #92 closed, assigned to nobody

[2018-09-27 02:44] FernandoZhuang opened #93 "V2.1.1 文章目录显示效果"
在V2.1.1版本中，随便打开一篇文章，然后滑动，同时发现文章目录也跟随滑动。本人认为，浏览效果不是特别的好。
希望能把“目录”的布局，放到"文章内容"外。

![default](https://user-images.githubusercontent.com/22760805/46120358-e1b1f880-c241-11e8-980f-cf28b5e09de8.PNG)

另外，想问下能不能提供文章背景是shadow box的浏览效果，本人认为层次感更强，更美观:D

[2018-09-27 03:40] FernandoZhuang commented on #93
hexo s 本地浏览会产生不佳效果……当hexo d更新后，网页浏览，“文章目录”显示正常。

[2018-09-29 09:22] FernandoZhuang commented on #93
此次重新更新博客后，发现“目录”布局在文章内部。然后查看您的博客，也发现此问题
![3](https://user-images.githubusercontent.com/22760805/46243981-32754d00-c40c-11e8-8a1f-01b7b7476ea8.PNG)
期待您的解决~

[2018-09-30 21:51] qutang commented on #93
是的，这个还没有改掉。之后的某个版本会有更好的设计的。

[2018-10-25 09:07] ivitan opened #94 "博客名称显示"
- 博客名与左边的图对齐，不是在图片的中间水平线上
- 请问出现这种情况是我图片的问题吗？
![f](https://user-images.githubusercontent.com/15519840/47489007-28623500-d878-11e8-80de-0ab34dd03947.PNG)

[2018-10-25 14:32] qutang commented on #94
应该是没有副标题的缘故，我会看看的。
2018年10月25日 -0400 AM5:07 Vitan <notifications@github.com>，写道：

[2018-10-26 22:58] qutang commented on #94
我看你的网站好像已经在水平线上了。

[2018-10-26 22:58] #94 closed, assigned to nobody

[2018-10-26 23:39] ivitan commented on #94
我在副标题添加一个空白符合就解决了。

[2018-10-30 11:25] ivitan opened #95 "archives,projects 下显示 Bug"
![2018-10-30 19-20-23](https://user-images.githubusercontent.com/15519840/47714996-6052e900-dc79-11e8-8279-3a6d7356ed5f.png)

[2018-10-30 18:20] #95 closed, assigned to nobody

[2018-10-30 18:56] #62 closed, assigned to nobody

[2018-10-30 18:56] qutang commented on #62
Won't do it.

[2019-01-13 05:46] PhelpsOu opened #96 "Hexo-cutie theme home-page render issue"
我遇到的问题是：`Home`页面中，每个post卡片的标题旁边的小图标无法正常显示，如下图：

![image-20190113102043116](https://ws2.sinaimg.cn/large/006tNc79ly1fz4qrs2qo8j30s00diwey.jpg)

根据我的观察，我首先去打开了`public`目录下的`index.html`文件，搜索`img`关键字，找到了关于post卡片图形的部分代码：

[code]

我隐约猜到问题出在第三行，所以我打开了`./theme/cutie/layout/_patial/card.swig`文件，想看看该页面文件是如何渲染的。同样我找到了相应的代码：

[code]

虽然我对html一窍不通，但我觉得代码的用意是对于没有设置icon的post，都使用随机生成的图像来作为post的图标。我在`./public/image

[2019-01-14 16:09] qutang commented on #96
对的，你可以打开浏览器的developer console，然后选中那个图片的元素然后单独打开，看看能不能找到，或者在图片目录里打开一下对应的图片，看看能不能打开，一般不会出现这种情况的。

如果你要单独设置一个post的icon，只需要在每个post开始的yaml语句里加个
[code]

[2019-01-28 04:30] PhelpsOu commented on #96
谢谢您的回答！我在网页页面源文件里面观察到应该就是图片路径的问题，直接解决无法加载图像这个问题对我来说有点难，哈哈哈，所以我采用了每个post手动制定icon的方案，折腾了一下就可以了，谢谢🙏

[2019-01-31 15:59] lilililanhui commented on #93
不知道能不能插句话，toc可以在\themes\cutie\source\css\scheme-taurus\post\layout.styl中的.article-toc里对fixed_tl()中的参数进行调整，我就改成了fixed_tr(12em,15vw),比较符合我的审美。
感谢作者漂亮的主题~~~~很喜欢

[2019-01-31 16:48] qutang commented on #93
当然可以：）

楼上正解，谢谢。

作者犯懒，一直没有更新解决这个问题。
On Jan 31, 2019, 10:59 AM -0500, Spyxxx <notifications@github.com>, wrote:

[2019-02-28 01:00] #96 closed, assigned to nobody

[2019-04-29 09:23] WhenCoding opened #97 "Curriculum Vitae this page can show me it's code?"
Curriculum Vitae this page can show me it's code?

[2019-04-29 09:25] WhenCoding commented on #97
i like it's compact.

[2019-04-29 09:35] WhenCoding opened #98 "How make picture center?"
[code]
it dosen't work.

[2019-05-12 14:09] rt-95 opened #99 "文章无toc"
**Describe the bug**
如题，我使用的都是默认配置，然后按照tutorial的toc_level选项在_data下的配置文件中加入为2，现在博客图标只是闪动。我重新下了一遍主题，还是有这个问题，请问可能是什么原因呢？

[2019-05-13 03:40] rt-95 commented on #99
sorry，自己粗心了，问题已解决。

[2019-05-13 03:40] #99 closed, assigned to nobody

[2019-05-20 17:20] qutang commented on #97
You should be able to find all source codes about the CV page in the repository. It uses a different css file.

From: Coder小明
Sent: Monday, April 29, 2019 5:25 AM
To: qutang/hexo-theme-cutie
Cc: Subscribed
Subject: Re: [qutang/hexo-theme-cutie] Curriculum Vitae this page can show meit's code? (#97)

i like it's compact.
—
You are receiving this because you are subscribed to this thread.
Reply to t

[2019-05-20 17:25] qutang commented on #98
Currently, this is not supported.

Qu

From: Coder小明
Sent: Monday, April 29, 2019 5:35 AM
To: qutang/hexo-theme-cutie
Cc: Subscribed
Subject: [qutang/hexo-theme-cutie] How make picture center? (#98)

Describe the bug
A clear and concise description of what the bug is.
To Reproduce
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error
Expected beha

[2019-05-25 13:36] ivitan opened #100 "errorError: Class or object doesn't exists. [404 GET https://xcjyqpc9.api.lncld.net/1.1/classes/ThumbUp]"
- 2.1.2 不知道为何报出很多这种错误，请问如何解决？
- Failed to load resource: the server responded with a status of 404 ()
![2019-05-25 20-25-54 的屏幕截图](https://user-images.githubusercontent.com/15519840/58370072-c9ab8980-7f34-11e9-85eb-b0ac948f8ce7.png)

[2019-05-28 10:25] WhenCoding commented on #97
多谢！可是我还是没有达到您目前简历效果
我根据您的配置如下：
* 配置规则按照这个
![屏幕快照 2019-05-28 下午5 52 13](https://user-images.githubusercontent.com/28731024/58470834-209fa180-8175-11e9-8c16-608c2ac79db5.png)
* 将您的cv.css拷贝到指定目录
![屏幕快照 2019-05-28 下午5 59 36](https://user-images.githubusercontent.com/28731024/58470905-488f0500-8175-11e9-90d3-0bcd88339718.png)
* 设置schme设为cv
![屏幕快照 2019-05-28 下午5 54 02](https://user-images.githubusercont

[2019-05-28 18:10] qutang commented on #97
有一个没有文档的方法。
可以在front matter里添加定制的css文件。

---
title: Curriculum Vitae
layout: page
css: /css/cv.css
---

你可以把css文件放到这个目录，注意，你不需要修改任何theme的文件，这个是你网站的目录结构。Theme的相关文件都放在themes里的，不需要修改它。

Qu

From: Coder小明
Sent: Tuesday, May 28, 2019 6:25 AM
To: qutang/hexo-theme-cutie
Cc: Qu Tang; Comment
Subject: Re: [qutang/hexo-theme-cutie] Curriculum Vitae this page can show meit's code? (#97)

多谢！可是我还是没有达到您目前简历效果

[2019-05-28 18:19] qutang commented on #100
检查一下你的leancloud后台，看看有没有这个表。

Qu

From: Vitan
Sent: Saturday, May 25, 2019 9:36 AM
To: qutang/hexo-theme-cutie
Cc: Subscribed
Subject: [qutang/hexo-theme-cutie] errorError: Class or object doesn't exists.[404 GET https://xcjyqpc9.api.lncld.net/1.1/classes/ThumbUp] (#100)

• 2.1.2 不知道为何报出很多这种错误，请问如何解决？
• Failed to load resource: the server responded with a status of 404 ()

—
You are receiving this

[2019-05-30 05:51] #100 closed, assigned to nobody

[2019-07-13 03:41] WhenCoding commented on #98
Ok.

[2019-07-13 07:13] WhenCoding commented on #97
Curriculum Vitae 这个页面的引用了/css/cv.css ，cv语法格式使用什么样的呢，还是markdown嘛？
![简历](https://user-images.githubusercontent.com/28731024/61168432-b73aed00-a580-11e9-890c-d4d8fd0f3c95.png)
能否给出这一部分的例子呢？非常感激！🙏

[2019-07-15 14:53] qutang commented on #97
对

From: Coder小明
Sent: Saturday, July 13, 2019 3:13 AM
To: qutang/hexo-theme-cutie
Cc: Qu Tang; Comment
Subject: Re: [qutang/hexo-theme-cutie] Curriculum Vitae this page can show meit's code? (#97)

Curriculum Vitae 这个页面的引用了/css/cv.css ，cv语法格式使用什么样的呢，还是markdown嘛？

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub, or mute the thread.

[2019-07-20 05:41] WhenCoding commented on #97
多谢！

[2019-07-20 05:41] #97 closed, assigned to nobody

[2019-09-02 20:55] #90 closed, assigned to qutang

[2019-09-02 20:55] #17 closed, assigned to nobody

[2019-09-02 20:55] #22 closed, assigned to qutang

[2019-09-02 20:56] #44 closed, assigned to qutang

[2019-09-02 20:56] #65 closed, assigned to qutang

[2019-09-02 20:56] #73 closed, assigned to nobody

[2019-09-02 20:56] #86 closed, assigned to qutang

[2019-09-02 20:56] #88 closed, assigned to qutang

[2019-09-02 20:56] #93 closed, assigned to nobody

[2019-09-02 20:56] #98 closed, assigned to nobody